{{- if .Values.ingest.enabled }}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "common.fullname" . }}-ingest
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "common.fullname" . }}-ingest
    chart: {{ template "common.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.ingest.replicaCount }}
  serviceName: {{ template "common.fullname" . }}-ingest
  selector:
    matchLabels:
      app: {{ template "common.fullname" . }}-ingest
  template:
    metadata:
      labels:
        app: {{ template "common.fullname" . }}-ingest
        release: {{ .Release.Name }}
        horizon_network: {{ .Values.global.network }}
      {{- if .Values.ingest.labels }}
        {{- range $key, $value := .Values.ingest.labels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
      {{- end }}
      {{- if .Values.ingest.annotations }}
      annotations:
        {{- range $key, $value := .Values.ingest.annotations }}
          {{ $key }}: {{ $value | quote }}
          {{- end }}
      {{- end }}
    spec:
      {{- if .Values.ingest.serviceAccountName }}
      serviceAccountName: {{ .Values.ingest.serviceAccountName | default "default" }}
      {{- end }}
      {{- if .Values.global.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.global.imagePullSecrets | indent 8 }}
      {{- end }}
      containers:
      - name: horizon
        image: {{ include "common.horizonImage" . | quote }}
        {{- if .Values.ingest.cliArgs }}
        args:
          {{- range $flag := .Values.ingest.cliArgs }}
          - {{ $flag | quote }}
          {{- end }}
        {{- end }}
        imagePullPolicy: {{ .Values.global.image.horizon.pullPolicy }}
        ports:
        - containerPort: {{ .Values.ingest.config.port }}
          name: horizon
        - containerPort: {{ .Values.ingest.config.adminPort }}
          name: metrics
        - containerPort: 11626
          name: core
        envFrom:
        - secretRef:
            name: {{ .Values.ingest.existingSecret }}
        - configMapRef:
            name: {{ template "common.fullname" . }}-ingest-env
        readinessProbe:
          httpGet:
            port: {{ .Values.ingest.config.port }}
            path: /health
          initialDelaySeconds: 5
          timeoutSeconds: 5
        {{- if .Values.ingest.resources }}
        resources:
{{ toYaml .Values.ingest.resources | indent 10 }}
        {{- end }}
        volumeMounts:
        - mountPath: /config
          name: core-config
        {{- if .Values.ingest.persistence.enabled }}
        - mountPath: /var/lib/stellar
          name: {{ template "common.fullname" . }}-ingest-var-lib-stellar
        {{- end }}
      {{- if .Values.ingest.coreExporter.enabled }}
      - name: stellar-core-prometheus-exporter
        image: "{{ .Values.global.image.coreExporter.registry }}/{{ .Values.global.image.coreExporter.repository }}:{{ .Values.global.image.coreExporter.tag }}"
        imagePullPolicy: {{ .Values.global.image.coreExporter.pullPolicy }}
        ports:
        - containerPort: 9473
          name: metrics
        {{- if .Values.ingest.coreExporter.resources }}
        resources:
{{ toYaml .Values.ingest.coreExporter.resources | indent 10 }}
        {{- end }}
      {{- end }}
      volumes:
      - name: core-config
        configMap:
          name: {{ template "common.fullname" . }}-core
  {{- if .Values.ingest.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: {{ template "common.fullname" . }}-ingest-var-lib-stellar
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: {{ .Values.ingest.persistence.storageClass }}
      resources:
        requests:
          storage: {{ .Values.ingest.persistence.size | quote }}
  {{- end }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "common.fullname" . }}-ingest-core
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "common.fullname" . }}-ingest-core
    chart: {{ template "common.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - name: core
      port: 11626
      targetPort: 11626
  selector:
    app: {{ template "common.fullname" . }}-ingest
---
apiVersion: v1
kind: Service
metadata:
  name: {{ template "common.fullname" . }}-ingest
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "common.fullname" . }}-ingest
    chart: {{ template "common.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - name: horizon
      port: 80
      targetPort: {{ .Values.ingest.config.port }}
  selector:
    app: {{ template "common.fullname" . }}-ingest
{{- end }}
