---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "common.fullname" . | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: {{ include "common.fullname" . | quote }}
    chart: {{ include "common.chart" . | quote }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
data:
  config.toml: |
    admin_port = {{ .Values.adminPort }}

    [datastore_config]
      type = {{ .Values.datastore.type | quote }}

    [datastore_config.params]
      destination_bucket_path = {{ .Values.datastore.params.path | quote }}
      region = {{ .Values.datastore.params.region | quote }}
      endpoint_url = {{ .Values.datastore.params.endpoint_url | quote }}

    [datastore_config.schema]
      ledgers_per_file = {{ .Values.datastore.schema.ledgersPerFile }}
      files_per_partition = {{ .Values.datastore.schema.filesPerPartition }}

    [stellar_core_config]
      network = {{ .Values.stellarCore.network | quote }}
      storage_path = "/var/lib/stellar/captive-core"
      history_archive_urls = {{ .Values.stellarCore.history_archive_urls | toJson }}
      network_passphrase = {{ .Values.stellarCore.network_passphrase | quote }}
      {{- if .Values.stellarCore.config }}
      captive_core_toml_path = "/galexie-config/captive-core.cfg"
      {{- end }}

  {{- if .Values.stellarCore.config }}
  captive-core.cfg: |
    {{ .Values.stellarCore.config | nindent 4 }}
  {{- end }}
